<div class="userManagement popup">
    <div class="userManageContent">
        <div class="userManageTitle">
            <span>用户管理</span>
            <span ng-click = "close();">x</span>
        </div>
        <div class="userList">
            <span>用户</span>
            <span title = "添加" ng-click = "etlAddNewUser();"></span>
            <span title = "删除" ng-click = "deleteManageUser();"></span>
            <select size = "7">
                <option ng-repeat = "x in userManageList" ng-click = "userManageClick($index);">{{x}}</option>
            </select>
        </div>

        <div class="resetPassword">
            <span>密码</span>
            <input type="password" ng-disabled = "true" value = "*******" id="ifCanChangePass"/>
            <span ng-click = "changeMyPassword();" ></span>
        </div>
        <button ng-click = "close();">
        关闭
        </button>
    </div>

    <!--添加新用户-->
    <div class="addNewUser">
        <span class="headlineStyle">新用户</span>
        <span class="spanUser spanStyle">用户名</span>
        <span class="userNameTips"></span>
        <input type="text" class="inputNewUser" ng-model = "newUserName" style="border-color: rgb(169, 169, 169);">
        <span class="spanPassword spanStyle">密码</span>
        <input type="password" class="inputNewPassword" style="border-color: rgb(169, 169, 169);" ng-model = "newUserPassword">
        <span class="addNewUserTrue" ng-click = "createUserManageUser();">确定</span>
        <span class="addNewUserFalse btnCancelStyle" ng-click = "etlCloseNewUser();">取消</span>
    </div>
</div>