.fixedBox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(200, 200, 200, 0.4);
    z-index: 2;
}
.title {
    height: 40px;
    background: #3D4F60;
}
.title .title-cancel {
    float: right;
    font-size: 18px;
    cursor: pointer;
}
.title span {
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    padding: 0 20px;
}
.planName p{
    font-weight: bold;
    line-height: 28px;
}
.font-blod600 {
    font-weight: 600;
    color: #474747;
}
.hide{
    display: none;
}
.planName {
    margin-left: 20px;
    margin-top: 10px;
}
.taskPlan p{
    margin-bottom: 10px;
}
.taskPlan ul li{
    width: 100%;
    height: 40px;
    overflow: hidden;
    color: #ababab;
}
.taskPlan li div{
    width: calc(20% - 100px);
    height: 40px;
    line-height: 40px;
    float: left;
    text-indent: 15px;
    /*min-width: 132px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
}
.taskPlan li div:first-child{
    width: 120px;
}
.taskPlan li div:last-child{
    width: 180px;
}
.taskPlan li div:nth-child(7),.taskPlan li div:nth-child(8){
    width: 100px;
}
.taskPlan li:nth-child(even){
    background: #fff;
}
.taskPlan li:nth-child(odd){
    background: #f2f2f2;
}
.taskPlan li:nth-child(1){
    background: #999999;
    color: #fff;
    font-weight: 600;
}
.taskPlan li:nth-child(1) div{
    border-right: 1px solid #fff;
    box-sizing: border-box;
}
.taskPlan li:not(:first-child):hover{
    background: #d3e6f5;
    cursor: pointer;
}
.taskPlan .icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    /*background: url("../../lib/images/icon_dark2.png") no-repeat;*/
    margin: 10px 5px 0;
    vertical-align: top;
}
.taskPlan .editIcon{
    background-position: -105px -123px;
}
.taskPlan .NORMAL{
    background-position: -105px -227px;
}
.taskPlan .COMPLETE{
    background-position: -105px -227px;
}

.taskPlan .PAUSED{
    background-position: -105px -248px;
}
.taskPlan .doIcon{
    background-position: -105px -270px;
}
.taskPlan .removeIcon{
    background-position: -105px -206px;
}
.taskPlan .icon:hover{
    background-position-x: -84px;
}
.fixedBox{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(200, 200, 200, 0.4);
}
.planBox{
    position: fixed;
    width: 520px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -260px;
    background: #fff;
    box-shadow: 1px 1px 3px #ccc;
}
.planName input,.planPath{
    width: 210px;
    height: 28px;
    border: 1px solid #cccccc;
    text-indent: 5px;
    color: #666;
    line-height: 28px;
}
.planName input:focus{
    border-color: #2d5f94;
}
.planPossiton{
    margin-top: 20px;
}
.planPossiton .newBuild{
    float: right;
    font-size: 32px;
    color: #646464;
    margin-top: -10px;
    cursor: pointer;
}
.planPossiton .myFileTree{
    width: 455px;
    height: 200px;
    border: 1px solid #ccc;
    margin: 20px auto 0;
    padding:5px;
    overflow:auto;
}


.planBtn{
    height: 50px;
    width: 100%;
    background: #f5f5f5;
    position: absolute;
    bottom: 0;
    left: 0;
}
.planBtn input{
    float: right;
    width: 90px;
    height: 28px;
    margin-top: 11px;
    margin-right: 32px;
}
.planBtn .next{
    margin-right: 15px;
}
.main .ifEmail{
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
}
.main .ifEmail input{
    float: left;
    margin: 1px 5px 0 0;
}
.emailInfo div input{
    height: 28px;
    width: 100%;
    line-height: 28px;
    text-indent: 5px;
    color: #666;
}
.emailInfo div{
    margin-top: 10px;
}
.emailInfo div textarea{
    height: 150px;
}
.main .successImg{
    width: 130px;
    height: 130px;
    margin: 100px auto 50px;
    /*background: url("../../lib/images/successLogo.png") no-repeat;*/
}
.main .tipInfo{
    text-align: center;
}



/*yhn start*/
/*plan*/


.mytaskPlanContent{
    /*width:100%;*/
    /*height:360px;*/
}
.mytaskPlanContent>p:nth-child(1){
    margin-top: 20px;
    font-family: "microsoft yahei";
    font-size: 14px;
}
.mytaskRepeat{
    width:360px;
    height:50px;
    margin-left:20px;
    margin-top: 10px;
}
.mytaskRepeat>span{
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:4px;
}
.mytaskRepeat>input{
    display: inline-block;
    width:25px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.mytaskRepeat>select{
    display: inline-block;
    width: 95px;
    height:26px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.onlyone{
    margin-left:20px;
    margin-top: 10px;
    width:360px;
}
.starttime>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.starttime>select:nth-child(2){
    display: inline-block;
    width: 56px;
    height:26px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
    padding-left:8px;
}
.starttime>span:nth-child(3){
    margin-left:3px;
    font-family: "microsoft yahei";
    display: inline-block;
    font-size: 14px;
}
.starttime>select:nth-child(4){
    display: inline-block;
    width: 56px;
    height:26px;
    margin-left:4px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    text-align: center;
    padding-left:8px;
    font-family: "microsoft yahei";
    text-align: center;
}
.starttime>select:nth-child(5){
    display: inline-block;
    width: 56px;
    height:26px;
    padding-left:4px;
    margin-left:10px;
    text-align: center;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.startdate{
    width:360px;
    margin-top: 14px;
}
.startdate>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.startdate>span:nth-child(2){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
.startdate>input{
    display: inline-block;
    width:80px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
/*************************************/
/*second*/
/*************************************/

.mychoosedContent>.second{
    margin-top: 10px;
    margin-left:20px;
}
.startdateSecond{
    width:360px;
    margin-top: 10px;
}
.startdateSecond>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.startdateSecond>span:nth-child(2){
    font-family: "microsoft yahei";
    display: inline-block;
    font-size: 14px;
    margin-bottom:2px;
}
.startdateSecond>input:nth-child(3){
    display: inline-block;
    width:36px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.startdateSecond>span:nth-child(4){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
.repeatSpread{
    margin-top: 5px;
}
.repeatSpread>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.repeatSpread>.left{
    float:left;
    width: 160px;
}
.repeatSpread>.left>span:nth-child(1){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
.repeatSpread>.left>input:nth-child(2){
    display: inline-block;
    width:82px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.repeatSpread>.right{
    float:right;
    width:220px;
}
.second .uper{
    height:30px;
}
.second .down{
    height:30px;
}
.repeatSpread>.right>.uper>input{
    float:left;
    display: block;
    margin-top: 8px;
}
.repeatSpread>.right>.uper>label{
    font-family: "microsoft yahei";
    float:left;
    display: block;
    font-size: 14px;
    margin-bottom:2px;
    margin-top: 4px;
    margin-left:5px;
}
.repeatSpread>.right>.down>label:nth-child(1){
    font-family: "microsoft yahei";
    float:left;
    display: block;
    font-size: 14px;
    margin-bottom:2px;
    margin-top: 4px;
    margin-left:15px;
}
.repeatSpread>.right>.down>input:nth-child(2){
    display: inline-block;
    width:82px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
    margin-left:10px;
}
/********************************/
/*minutes*/
.mychoosedContent>.minutes{
    margin-top: 10px;
    margin-left:20px;
}
.minutes .uper{
    height:30px;
}
.minutes .down{
    height:30px;
}
/***********************************/
/*hours*/
.mychoosedContent>.hour{
    margin-top: 10px;
    margin-left:20px;
}
.hour .uper{
    height:30px;
}
.hour .down{
    height:30px;
}
/*****************************************/
/*day*/

.mychoosedContent>.day{
    margin-top: 10px;
    margin-left:20px;
}
.day .uper{
    height:30px;
}
.day .down{
    height:30px;
}

.day .startdateSecond>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.day .startdateSecond>input:nth-child(2){
    display: inline-block;
}
.day .startdateSecond>label:nth-child(3){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
.day .startdateSecond>input:nth-child(4){
    display: inline-block;
    width:36px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.day .startdateSecond>span:nth-child(5){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
.day .startdateSecond>input:nth-child(6){
    margin-left:22px;
}
.day .startdateSecond>label:nth-child(7){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:2px;
}
/*****************************/
/*week*/
.week .startdateSecond>span:nth-child(1){
    font-family: "microsoft yahei";
    display: block;
    font-weight: bold;
    font-size: 14px;
    margin-bottom:2px;
}
.week .startdateSecond>input{
    margin-right:5px;
}
.week .startdateSecond>label{
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:3px;
    margin-right:9px;
    user-select: none;
}
.mychoosedContent>.week{
    margin-top: 10px;
    margin-left:20px;
}
.week .uper{
    height:30px;
}
.week .down{
    height:30px;
}
/********************************/
/*month*/
.mychoosedContent>.month{
    margin-top: 10px;
    margin-left:20px;
}
.month .uper{
    height:30px;
}
.month .down{
    height:30px;
}
.month .startdateSecond>label:nth-child(3){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:3px;
    margin-right:9px;
    margin-left:4px;
}
.month .startdateSecond>input:nth-child(4){
    display: inline-block;
    width:36px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.month .startdateSecond>span:nth-child(5){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:3px;
    margin-right:39px;
    margin-left:4px;
}
.month .startdateSecond>label:nth-child(7){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:3px;
    margin-right:4px;
    margin-left:4px;
}
.month .startdateSecond>select:nth-child(8){
    display: inline-block;
    width:50px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.month .startdateSecond>select:nth-child(9){
    display: inline-block;
    width:65px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
/******************************/
/*year*/
.year .startdateSecond>div:nth-child(2)>label:nth-child(2){
    font-family: "microsoft yahei";
    display: inline-block;;
    font-size: 14px;
    margin-bottom:3px;
    margin-right:4px;
    margin-left:4px;
}
.year .startdateSecond>div:nth-child(2)>select:nth-child(3){
    display: inline-block;
    width:51px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
    margin-left:4px;
}
.year .startdateSecond>div:nth-child(2)>input:nth-child(4){
    display: inline-block;
    width:25px;
    height:21px;
    margin-left:4px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.year .startdateSecond>div:nth-child(3)>select:nth-child(2){
    display: inline-block;
    width:51px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.year .startdateSecond>div:nth-child(3)>select:nth-child(3){
    display: inline-block;
    width:51px;
    height:24px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
    margin-left:3px;
}
.year .startdateSecond>div:nth-child(3)>select:nth-child(4){
    display: inline-block;
    width:63px;
    height:24px;
    margin-left:4px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.mychoosedContent>.year{
    margin-top: 10px;
    margin-left:20px;
}
.year .uper{
    height:30px;
}
.year .down{
    height:30px;
}
/**************************************/
/*taskplan*/
.smalltaskplan .startdateSecond>input:nth-child(2){
    display: inline-block;
    width:148px;
    height:21px;
    border:1px solid #D8D8D8;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    font-size: 13px;
    font-family: "microsoft yahei";
    text-align: center;
}
.mychoosedContent>.taskplan{
    margin-top: 10px;
    margin-left:20px;
}
.taskplan .uper{
    height:30px;
}
.taskplan .down{
    height:30px;
}

/*yhn end*/
/*added code*/
.mytaskPlan .mytaskPlanContent .regularDayNumber{
    display:inline-block;
    width:24px;
    text-align: center;
    margin:0 5px;
    border:1px solid #D8D8D8;
}
.mytaskPlan:nth-child(2) .mytaskPlanContent {
    padding: 0 20px;
}
.mytaskPlan .tableDiv{
    max-height: 450px;
    overflow-y: auto;
    border: 1px solid #ccc;
}
.mytaskPlan table {
    width: 100%;
    border: 1px solid #d8d8d8;
    border-collapse: collapse;
    text-align: center;
    text-indent: 5px;
}
.mytaskPlan table th{
    height: 30px;
    background: #f2f2f2;
    color: #666;
}
.mytaskPlan table tr{
    background: #fff;
}
.mytaskPlan table tr.active{
    background: #d3e6f6;
}
.mytaskPlan table input[type = 'text']{
    margin: 5px 0;
    width: 170px;
}