.main{
    width: calc(100% - 260px);
    height: 100%;
    float: left;
}
.mainTitle{
    height: 65px;
    background: #d7dde5;
    position: relative;
}
.roleBox{
    display: none;
}
.mainTitle i{
    float: right;
    width: 32px;
    height: 32px;
    background: url("../images/icon.png") no-repeat;
    background-position: -37px -209px;
    margin: 16px 48px 0 0;
    cursor: pointer;
}
.mainTitle .roleList{
    position: absolute;
    right: 48px;
    top: 60px;
    width: 160px;
    background: #fff;
    z-index: 2;
    box-shadow: 1px 1px 5px #a2aebb;
}
.mainTitle .roleList ul li{
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #a2aebb;
    cursor: pointer;
}
.mainTitle .roleList ul li:hover{
    background: #e8f8fc;
}
.mainTitle .roleList ul li:last-child{
    border-top: 1px solid #e0e0e0;
    box-sizing: border-box;
}
.arrow {
    position: absolute;
    right: 54px;
    top: 52px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    z-index: 3;
}
.mainBody{
    padding: 20px 25px;
    height: calc(100% - 105px);
    width: calc(100% - 50px);
    position: relative;
}
.planState{
    padding: 0 10px;
    background: #fff;
    box-shadow: 1px 1px 5px #d3d5d7;
}
.itemTitle{
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #d3d5d7;
    box-sizing: border-box;
    color: #4c5e70;
    font-size: 16px;
}
.itemTitle .itemTitleInfo{
    font-size: 16px;
    float: left;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.itemTitle .workFlowDo{
    float: right;
    margin: 0 20px 0 20px;
    display: none;
    cursor: pointer;
    font-size: 16px;
}
.itemTitle select{
    float: right;
    height: 25px;
    width: 150px;
    margin-top: 15px;
    border-radius: 4px;
    color: #333;
    outline: none;
}
.workFlowBody{
    height: calc(100% - 50px);
    position: relative;
    overflow: auto;
}
.workFlowBody::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
.workFlowBody::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #fff;
}




.workFlowBody::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #cad1d7;
}
.workFlowBody .loading{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -12px;
    width: 24px;
    height: 24px;
    background: url("../images/loading.gif") no-repeat;
}
.workFlowBody canvas{
    position: absolute;
    left: 0;
    top: 0;
}
.stateList ul{
    width: 100%;
    overflow: hidden;
}
.stateList li{
    position: relative;
    float: left;
    height: 150px;
    width: 16.6%;
    text-align: center;
    box-sizing: border-box;
}
.stateList li p{
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.stateList li p:nth-child(1){
    font-weight: bold;
    color: #4c5e70;
    font-size: 16px;
}
.stateList li p span:nth-child(1){
    font-size: 42px;
}
.stateList li p span:nth-child(2){
    font-size: 24px;
    color: #a0adb6;
}
.stateList li .border{
    width: 1px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 30px;
    background: #d5d5d5;
}
.stateList .color1{
    color: #fdba1a;
}
.stateList .color2{
    color: #02cfd4;
}
.stateList .color3{
    color: #b492f0;
}
.stateList .color4{
    color: #00c999;
}
.stateList .color5{
    color: #f58a6a;
}
.stateList .color6{
    color: #5b57f9;
}
.stateList .bg1{
    background: #fdba1a;
}
.stateList .bg2{
    background: #02cfd4;
}
.stateList .bg3{
    background: #b492f0;
}
.stateList .bg4{
    background: #00c999;
}
.stateList .bg5{
    background: #f58a6a;
}
.stateList .bg6{
    background: #5b57f9;
}
.stateList .ratio{
    width: 120px;
    height: 5px;
    background: #c4c4c4;
    display: inline-block;
    margin-top: 20px;
    position: relative;
}
.stateList .ratio span{
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}
.planList{
    padding: 0 0 15px 0;
    background: #fff;
    margin-top: 20px;
    box-shadow: 1px 1px 5px #d3d5d7;
    overflow: auto;
    height: calc(100%/2 - 105px);
}
.planHead {
    height: 55px;
}
.planLists{
    overflow-y: auto;
    height: calc(100% - 55px);
}
.planLists ul{
    width: 100%;
}
.planLists::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
.planLists::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #fff;
}

.planLists::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #cad1d7;
}
.planLists .planListsLi{
    height: 45px;
    color: #d3d5d7;
}
.planLists .planListsLi:nth-child(odd){
    background: #f6f7f9;
}
.planLists .planListsLi:hover{
    background: #e8f8fc;
}
.planLists .planListsLi.bg{
    background: #caeff9;
}
.planListsLi li i{
    width: 20px;
    height: 20px;
    float: left;
    background: url("../images/icon.png") no-repeat;
    padding: 12px 10px;
    cursor: pointer;
}
.planListsLi li .edit{
    background-position: -178px -10px;
}
.planListsLi li .now{
    background-position: -178px -128px;
}
.planListsLi li .PAUSED{
    background-position: -178px -39px;
}
.planListsLi li .delete{
    background-position: -178px -99px;
}
.planListsLi li .NORMAL{
    background-position: -178px -70px;
}
.planListsLi li .COMPLETE{
    background-position: -178px -70px;
}
.options li{
    float: left;
    width: calc(100%/6 - 30px);
    line-height: 45px;
    text-indent: 40px;
    color: #7b8da0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.options li:nth-last-child(1){
    width: 160px;
}
.planHead li{
    line-height: 55px;
    font-weight: bold;
    color: #4c5e70;
    font-size: 16px;
}
.work{
    margin-top: 20px;
    height: calc(100%/2 - 105px);
}
.workFlow{
    float: left;
    width: 440px;
    height: 100%;
    background: #fff;
    padding: 0 10px;
    box-shadow: 1px 1px 5px #d3d5d7;
    position: relative;
}
.work .fullscreen{
    position: absolute;
    width: calc(100% - 50px);
    height: calc(100% - 40px);
    background: #fff;
    top: 0;
    left: 0;
    padding: 20px 25px;
    overflow: auto;
    z-index: 1;
}
.workFlow i{
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    background: url("../images/icon.png") no-repeat;
    background-position: -35px -140px;
}
.workFlow .scalescreenbtn{
    display: none;
    background-position: -35px -166px;
}
.workFlow i:hover{
    background-position-x: -73px;
    cursor: pointer;
}
/*ÐÂÔölogo*/
.itemTitle>div{
    position: relative;
    display: none;
}
.itemTitle>div>.yhnSaveIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 72px;
    margin-top: 16px;
    background: url("../images/icon.png") no-repeat;
    background-position:-303px -299px;
    cursor: pointer;
}
.itemTitle>div>.yhnDbConnectIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 166px;
    margin-top: 16px;
    background: url("../images/icon.png") no-repeat;
    background-position:-303px -272px;
    cursor: pointer;
}
.itemTitle>div>.yhnHadoopIcon{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 303px;
    margin-top: 16px;
    background: url("../images/icon.png") no-repeat;
    background-position:-303px -247px;
    cursor: pointer;
}
.workFlow .scale{
    position: absolute;
    width: 32px;
    height: 64px;
    right: 10px;
    bottom: 10px;
    background: url("../images/icon.png") no-repeat;
    background-position: -35px -260px;
    cursor: pointer;
}
.workFlow .scale div{
    width: 32px;
    height: 32px;
}
.workResult{
    float: left;
    width: calc(100% - 480px);
    height: 100%;
    background: #fff;
    margin-left: 20px;
    box-shadow: 1px 1px 5px #d3d5d7;
}
.workResult .padding{
    padding: 0 30px;
}
.logs{
    height: 55px;
    border-bottom: 1px solid #d3d5d7;
    box-sizing: border-box;
    box-shadow: 0 1px 1px #d3d5d7;
}
.logs li{
    float: left;
    line-height: 40px;
    padding-top: 11px;
    color: #7b8da0;
    font-size: 14px;
    margin-right: 35px;
    cursor: pointer;
}
.logs .active{
    border-bottom: 4px solid #2fbee6;
    box-sizing: border-box;
}
.logInfo{
    margin-top: 5px;
    height: calc(100% - 110px);
    width: calc(100% - 30px);
    overflow: auto;
}
.logInfo table::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}
.logInfo table::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #fff;
}

.logInfo table::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #cad1d7;
}


.logInfo > div{
    width: 100%;
}
.logInfo table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-indent: 5px;
}
.logInfo table td{
    height:20px;
    line-height: 20px;
    padding: 5px 10px;
    word-break: break-all;
}
.logInfo table th{
    height:40px;
}
.logInfo .setpLogs , .logInfo .tasklogs{
    text-align: center;
    display: none;
}
.logInfo .setpLogs tbody tr:nth-child(odd) ,.logInfo .tasklogs tbody tr:nth-child(odd){
    background: #f6f7f9;
}


#tree .zUIpanelScrollBox,.zUIpanelScrollBar{
    width:5px;
    top:4px;
    right:1px;
    border-radius:5px;

}
#tree .zUIpanelScrollBox{
    background:black;opacity:0.1;
    filter:alpha(opacity=10);
}
#tree .zUIpanelScrollBar{
    background:#9aa7ae;
    /*opacity:0.8;*/
    /*filter:alpha(opacity=80);*/
}
#planLists .zUIpanelScrollBox,#planLists .zUIpanelScrollBar,#logInfo .zUIpanelScrollBox,#logInfo .zUIpanelScrollBar{
    width:5px;
    top:4px;
    right:1px;
    border-radius:5px;

}
#planLists .zUIpanelScrollBox{
    /*background:black;opacity:0.1;*/
    /*filter:alpha(opacity=10);*/
}
#planLists .zUIpanelScrollBar,#logInfo .zUIpanelScrollBar{
    background:#cad1d7;
    /*opacity:0.8;*/
    /*filter:alpha(opacity=80);*/
}
.alertDel, .resDel{
    display: block;
}