.changePasswordEtl{
    position: absolute;
    z-index: 1000;
    top: 0px;
    bottom:0px;
    left: 0px;
    right:0px;
    background:rgba(0,0,0,0.1);
    display: none;
}
#modifyPassword_yhn{
    position: fixed;
    height: 370px;
    width: 420px;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -250px;
    z-index: 100;
    background:white;
}
#modifyPassword_yhn>div:nth-child(1){
    width:100%;
    height:40px;
    background:#3D4F60;
}
#modifyPassword_yhn>div:nth-child(1)>span:nth-child(1){
    color:white;
    float:left;
    display: block;
    height:40px;
    text-indent: 10px;
    line-height:40px;
    font-family: "microsoft yahei";
    font-size: 16px;
}
#modifyPassword_yhn>div:nth-child(1)>span:nth-child(2){
    float:right;
    color:white;
    font-size: 18px;
    font-family: "microsoft yahei";
    line-height:40px;
    margin-right:20px;
    cursor: pointer;
}
#modifyPassword_yhn>div:nth-child(2){
    background:white;
    width:100%;
    height:100%;
}
#modifyPassword_yhn .nativeTips{
    width:100%;
    margin-top: 20px;
    height:20px;
}
#modifyPassword_yhn .nativeTips span{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:100px;
    float: right;
}
.content .inputContent{
    width:100%;
    height:30px;
}
.content .inputContent>span{
    font-family: "microsoft yahei";
    line-height:30px;
    margin-left:20px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}
.content .inputContent>input{
    margin-left:45px;
    width:280px;
    height:27px;
    font-family: "microsoft yahei";
    border:1px solid #D8D8D8;
    border-radius: 2px;
    float:left;
    font-size: 14px;
    text-indent: 10px;
}
.content .newTips{
    width:100%;
    height:20px;
}
.content .newTips>span{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:100px;
    float: right;
}
.content .newPassContent{
    width:100%;
    height:30px;
}
.content .newPassContent>span{
    font-family: "microsoft yahei";
    line-height:30px;
    margin-left:20px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}
.content .newPassContent>input{
    margin-left:45px;
    width:280px;
    height:27px;
    font-family: "microsoft yahei";
    border:1px solid #D8D8D8;
    border-radius: 2px;
    float:left;
    font-size: 14px;
    text-indent: 10px;
}
.content>div:nth-child(3){
    width:100%;
    height:30px;
}
.content>div:nth-child(3)>span{
    display: block;
    font-family: "microsoft yahei";
    font-size: 12px;
    text-indent: 112px;
    color:#999999;
    margin-top: 5px;
}
.content>div:nth-child(4){
    width:100%;
    height:40px;
    margin-top: 30px;
}
.content>div:nth-child(4)>span:nth-child(1){
    font-family: "microsoft yahei";
    line-height:30px;
    margin-left:20px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}
.content .weak{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:30px;
}
.content .middle{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:5px;
}
.content .strong{
    display: block;
    float: left;
    width:88px;
    height:17px;
    border:1px solid #D8D8D8;
    border-radius: 2px;
    margin-top: 6px;
    margin-left:5px;
}
.content>div:nth-child(5)>div:nth-child(1){
    width: 100%;
    height:18px;
}
.content .passCheckTips{
    color:red;
    font-family: "microsoft yahei";
    font-size: 14px;
    margin-right:36px;
    float: right;
}
.content>div:nth-child(5)>.checkPasswordContent{
    width:100%;
    margin-top: 10px;
    height:29px;
}
.content .checkPasswordContent>span{
    font-family: "microsoft yahei";
    line-height:30px;
    margin-left:20px;
    font-size: 14px;
    font-weight: bold;
    float:left;
}
.content .checkPasswordContent>input{
    margin-left:17px;
    width:280px;
    height:27px;
    font-family: "microsoft yahei";
    border:1px solid #D8D8D8;
    border-radius: 2px;
    float:left;
    font-size: 14px;
    text-indent: 10px;
}
.content>div:nth-child(6){
    width:100%;
    margin-top: 60px;
}
.content>div:nth-child(6)>span:nth-child(1){
    display: block;
    width:90px;
    height:30px;
    float:left;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:#F2F2F2;
    font-family: "microsoft yahei";
    font-size: 14px;
    color:black;
    margin-left:180px;
    cursor: pointer;
}
.content>div:nth-child(6)>span:nth-child(2){
    display: block;
    width:90px;
    height:30px;
    line-height: 30px;
    text-align: center;
    float:left;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:#2E5F94;
    font-family: "microsoft yahei";
    font-size: 14px;
    color:white;
    margin-left:20px;
    cursor: pointer;
}
/*modifyFail*/
.modifySuccess{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    height:380px;
    margin-left:-200px;
    margin-top:-250px;
    z-index: 100;
}
.modifySuccess>div:nth-child(1){
    width:100%;
    height:40px;
    background:#333333;
}
.modifySuccess>div:nth-child(1)>span{
    color: white;
    float: left;
    display: block;
    height: 40px;
    text-indent: 10px;
    line-height: 40px;
    font-family: "microsoft yahei";
    font-size: 16px;
}
.modifySuccess>div:nth-child(2){
    width:100%;
    height:100%;
    background:white;
}
.modifySuccess>div:nth-child(2){
    position: relative;
}
.modifySuccess>div:nth-child(2)>span:nth-child(1){
    position: absolute;
    height:127px;
    width:127px;
    top:50px;
    left:50%;
    margin-left:-64px;
    /*background-image: url("../../../lib/images/deleteLogo.png");*/
}
.modifySuccess>div:nth-child(2)>span:nth-child(2){
    position: absolute;
    top: 200px;
    width:100%;
    font-family: "microsoft yahei";
    font-size: 16px;
    text-align: center;
}
.modifySuccess>span{
    position: absolute;
    top: 360px;
    right:30px;
    display: block;
    width:90px;
    height:30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:#2E5F94;
    font-family: "microsoft yahei";
    font-size: 14px;
    color:white;
    cursor: pointer;
}
/*ÐÞ¸Ä³É¹¦*/
.modifySuccess1{
    display:none;
    position: absolute;
    top:50%;
    left:50%;
    width:400px;
    height:380px;
    margin-left:-200px;
    margin-top:-250px;
    z-index: 100;
}
.modifySuccess1>div:nth-child(1){
    width:100%;
    height:40px;
    background:#333333;
}
.modifySuccess1>div:nth-child(1)>span{
    color: white;
    float: left;
    display: block;
    height: 40px;
    text-indent: 10px;
    line-height: 40px;
    font-family: "microsoft yahei";
    font-size: 16px;
}
.modifySuccess1>div:nth-child(2){
    width:100%;
    height:100%;
    background:white;
}
.modifySuccess1>div:nth-child(2){
    position: relative;
}
.modifySuccess1>div:nth-child(2)>span:nth-child(1){
    position: absolute;
    height:127px;
    width:127px;
    top:50px;
    left:50%;
    margin-left:-64px;
/*    background-image: url("../../../lib/images/successLogo.png");*/
}
.modifySuccess1>div:nth-child(2)>span:nth-child(2){
    position: absolute;
    top: 200px;
    width:100%;
    font-family: "microsoft yahei";
    font-size: 16px;
    text-align: center;
}
.modifySuccess1>span{
    position: absolute;
    top: 360px;
    right:30px;
    display: block;
    width:90px;
    height:30px;
    line-height: 30px;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background:#2E5F94;
    font-family: "microsoft yahei";
    font-size: 14px;
    color:white;
    cursor: pointer;
}








